{%- macro make_tree(tree) %}
  <ul>
  {%- for key, value in tree.items() %}
    {%- if value is not mapping %}
    <li class="file"><a href="{{ value }}" target="document_page">{{ key }}</a></li>
    {%- else %}
    <li class="folder">{{ key }}
      {{- make_tree(value) | indent(4) }}
    </li>
    {%- endif %}
  {%- endfor %}
  </ul>
{%- endmacro %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./style.css"/>

    <script src="//unpkg.com/3d-force-graph"></script>
    <script>
      let graph;

      function resizeGraph() {
        const container = document.getElementById("graph");
        if (container && graph) {
          const height = container.offsetHeight;
          const width = container.offsetWidth;

          graph.width(width);
          graph.height(height);
        }
      }

      function createGraph() {
        const container = document.getElementById("graph");
        if (container) {
          const height = container.offsetHeight;
          const width = container.offsetWidth;

          const graph_data = {{- graph | indent(10) -}};

          const graph = ForceGraph3D()(document.getElementById('graph'))
            .width(width)
            .height(height)
            .graphData(graph_data)
            .backgroundColor('{{ theme.graph.backgroundColor }}')
            .nodeAutoColorBy('group')
            .linkWidth(1)
            .linkColor('{{ theme.graph.linkColor }}')
            .linkDirectionalArrowLength(3.5)
            .linkDirectionalArrowRelPos(1)
            .linkDirectionalArrowColor('{{ theme.graph.linkArrowColor }}')
            .linkCurvature(0.25)
            .d3Force('link')
        }
      }
    </script>
  </head>
  <body onload="createGraph()">
    <main>
      <div id="tree">
        {{- make_tree(tree) | indent(4) }}
      </div>

      <div id="graph"></div>

      <iframe id="document" name="document_page" src="Root.html"></iframe>
    </main>
  </body>
</html>