{%- macro make_tree(tree) %}
  <ul>
  {%- for key, value in tree.items() %}
    {%- if value is not mapping %}
    <li class="file"><a href="./{{ value }}" target="document_page">{{ key }}</a></li>
    {%- else %}
    <input type="checkbox" checked="true" id="{{ key }}"/>
    <label for="{{ key }}">
    <li class="folder">{{ key }}
      {{- make_tree(value) | indent(4) }}
    </li>
    </label>
    {%- endif %}
  {%- endfor %}
  </ul>
{%- endmacro %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.source_folder }}</title>
    
    <link rel="stylesheet" type="text/css" href="./style.css"/>

    <script src="./resources/js/3d-force-graph.js"></script>
    <script>
      var graph_instance;

      function resizeGraph() {
        const container = document.getElementById("graph");
        if (container && graph_instance) {
          const height = container.offsetHeight;
          const width = container.offsetWidth;

          graph_instance.width(width);
          graph_instance.height(height);
        }
      }

      function onNodeClick(node, evt) {
        const iframe = document.getElementById('document');
        iframe.src = node.src;
      }

      function onNodeHover(node, evt) {
        if(node) {
        }
      }

      function createGraph() {
        const container = document.getElementById("graph");
        if (container) {
          const height = container.offsetHeight;
          const width = container.offsetWidth;

          const graph_data = {{- graph | indent(10) -}};

          graph_instance = ForceGraph3D()(document.getElementById('graph'))
            .graphData(graph_data)
            .width(width)
            .height(height)
            .backgroundColor('{{ theme.graph.backgroundColor }}')

            // Nodes
            .nodeVal('size')
            .nodeRelSize(4)
            .nodeResolution(8)
            .nodeAutoColorBy('group')
            .nodeOpacity({{ theme.graph.nodeOpacity }})
            .onNodeClick(onNodeClick)
            .onNodeHover(onNodeHover)

            // Links
            .linkWidth('weight')
            .linkCurvature(0)
            .linkOpacity({{ theme.graph.linkOpacity }})
            .linkColor(() => '{{ theme.graph.linkColor }}')
            .linkDirectionalArrowRelPos(1.05)
            .linkDirectionalArrowLength(link => link.weight * 4)
            .linkDirectionalArrowColor(() => '{{ theme.graph.linkArrowColor }}')
            .linkDirectionalParticleWidth(4)

            // Forces
            .d3Force('link', forceLink().distance(link => link.weight * 10).strength(0.5))
            .d3Force('charge', forceManyBody().strength(-10))
            .d3Force('collision', forceCollide().radius(node => node.size * 10))
            .d3Force('center', null)

            // Freeze
            .cooldownTicks(500)
            .cooldownTime(2000)
            .onEngineStop(() => {
              graph.pauseAnimation();
              graph.enableNodeDrag(false);
            });

          window.addEventListener('resize', resizeGraph);
        }
      }
    </script>
  </head>
  <body onload="createGraph()">
    <main>
      <input type="checkbox" id="collapse" />

      <aside>
        <div id="tree">
          {{- make_tree(tree) | indent(4) }}
        </div>

        <div id="graph"></div>
      </aside>
      
      <label for="collapse"></label>

      <iframe id="document" name="document_page"></iframe>
    </main>
  </body>
</html>