<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ page.rel_root }}style.css"/>
  </head>
  <body>
    <section>
      <!-- Page Start -->
      {{- page.content | indent(6) }}
      <!-- Page End -->
    </section>
  </body>
</html>