html
{
  margin: 0;

  color: {{ theme.color }};
  background-color: {{ theme.backgroundColor }};
}

body
{
  margin: 0;
}

main
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  position: absolute;
  min-width: 800px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  margin: 0;
}

section
{
  padding: 1em;
}

a
{
  color: {{ theme.primary }};
  text-decoration: none;
}

iframe
{
  margin: none;
  border: none;
  
  color: {{ theme.color }};
  background-color: {{ theme.backgroundColor }};
}

#document
{
  flex: 1;
  width: calc(75% - 3px);
  border-left: 3px solid {{ theme.secondary }};
}

#graph
{
  height: 25%;
  width: 25%;
}

#tree
{
  height: calc(75% - 1rem);
  width: calc(25% - 1rem);
  padding: 0.5rem;
  overflow: auto;
}

#tree ul
{
  margin: 0;
  padding: 0;
}

#tree ul li
{
  list-style-type: none;
  font-size: {{ theme.tree.fontSize }}rem;
  font-family: {{ theme.tree.fontFamily }};
}

#tree ul li:before
{
  line-height: {{ theme.tree.fontSize + 0.25 }}rem;
  font-size: {{ theme.tree.fontSize + 0.25 }}rem;
}

#tree ul li.folder
{
  cursor: pointer;
}

#tree ul li.folder:before
{
  content: '\1F5C1';
  color: {{ theme.secondary }};
}

#tree ul input[type="checkbox"]:not(:checked) + label li.folder:before {

  content: '\1F5C0';
}

#tree ul ul
{
  padding: 0 0 0 2rem;
}

#tree ul input[type="checkbox"]
{
  display: none;
}

#tree ul input[type="checkbox"]:checked + label li.folder ul {
  display: block;
}

#tree ul input[type="checkbox"]:not(:checked) + label li.folder ul {
  display: none;
}


