html
{
  margin: 0;

  color: {{ theme.color }};
  background-color: {{ theme.backgroundColor }};
}

body
{
  margin: 0;
}

main
{
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 800px;
  min-height: 600px;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* Collapsible */

#collapse
{
  display: none;
}

#collapse + aside + label
{
  height: 100vh;
  width: auto;
}

#collapse + aside + label:before
{
  position: absolute;
  cursor: pointer;
  line-height: 2rem;
  font-weight: bold;
  padding: calc(50vh - 1rem) 0rem;
  color: {{ theme.secondary }};
}

#collapse:not(:checked) + aside + label:before
{
  content: '\2B9C';
}

#collapse:checked + aside + label:before
{
  content: '\2B9E';
}

/* Aside */

aside
{
  display: flex;
  flex: 1 0.5;
  flex-direction: column;
  height: 100vh;
}

#collapse:checked ~ aside
{
  display: none;
  width: 0;
  flex: 0;
}

#graph
{
  flex: 1;
}

#document
{
  flex: 3 0;
}

iframe
{
  margin: none;
  border: none;
  
  color: {{ theme.color }};
  background-color: {{ theme.backgroundColor }};
}

section
{
  padding: 1em;
}

a
{
  color: {{ theme.primary }};
  text-decoration: none;
}

#tree
{
  flex: 3;
  padding: 0.5rem;
  overflow: auto;
}

#tree ul
{
  margin: 0;
  padding: 0;
}

#tree ul li
{
  list-style-type: none;
  font-size: {{ theme.tree.fontSize }}rem;
  font-family: {{ theme.tree.fontFamily }};
}

#tree ul li:before
{
  line-height: {{ theme.tree.fontSize + 0.25 }}rem;
  font-size: {{ theme.tree.fontSize + 0.25 }}rem;
}

#tree ul li.folder
{
  cursor: pointer;
}

#tree ul li.folder:before
{
  content: '\1F5C1';
  color: {{ theme.secondary }};
}

#tree ul input[type="checkbox"]:not(:checked) + label li.folder:before {

  content: '\1F5C0';
}

#tree ul ul
{
  padding: 0 0 0 2rem;
}

#tree ul input[type="checkbox"]
{
  display: none;
}

#tree ul input[type="checkbox"]:checked + label li.folder ul {
  display: block;
}

#tree ul input[type="checkbox"]:not(:checked) + label li.folder ul {
  display: none;
}


